.MovieContainer {
  margin: 50px 100px;

  &__title {
    margin-left: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 24px;
  }
}

.link {
  margin: 16px 0 0 16px;
  font-weight: bold;
  text-decoration: none;
  color: #f2a365;
}
