$button-bg-color: #7f8ff4;

.Search {
  display: flex;
  align-items: center;
  justify-content: center;

  &__Field {
    width: 400px;
    font: 1rem "PT Sans", sans-serif;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 16px 12px;
  }
}
