.MovieDetail {
  position: absolute;
  background-color: gray;
  width: 200px;
  height: 300px;
  overflow-y: scroll;

  &__title {
    margin-left: 10px;
  }

  &__info {
    padding: 0 20px;
    li {
      list-style: none;
    }
  }
}
